PORT=4200

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=airtel_hrms

DEFAULT_HR_EMAIL=hr.recruitment@airtel.com
DEFAULT_HR_PASSWORD=Admin123!
DEFAULT_HR_FIRST_NAME=HR
DEFAULT_HR_LAST_NAME=Recruitment
DEFAULT_HR_ROLE=HR Recruitment officer
DEFAULT_IT_EMAIL=it.support@airtel.com
DEFAULT_IT_PASSWORD=Admin123!
DEFAULT_IT_FIRST_NAME=IT
DEFAULT_IT_LAST_NAME=Support
DEFAULT_IT_ROLE=IT Support Engineer
HRMS_SESSION_SECRET=change-this-secret
